*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ececec;
}

header{
    background:white;
    text-align:center;
}

header img{
    max-width:300px;
    margin:20px;
}

nav{
    background:#3366cc;
    padding:12px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    margin:0 20px;
}

.contenedor{
    display:grid;
    grid-template-columns:220px 1fr;
    min-height:700px;
}

aside{
    background:white;
    padding:20px;
}

aside ul{
    list-style:none;
}

aside li{
    margin:12px 0;
}

aside a{
    text-decoration:none;
    color:#333;
}

main{
    background:white;
    margin:20px;
    padding:20px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}