*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    color:#333;
}

header{
    background:white;
    text-align:center;
    padding:20px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.logo{
    width:90%;
    max-width:900px;
}

.portada img{
    text-align:center;
    width:90%;
    object-fit:cover;
    display:block;
}

.presentacion{
    text-align:center;
    padding:50px 20px;
}

.presentacion h1{
    font-size:40px;
    margin-bottom:20px;
}

.presentacion p{
    font-size:20px;
}

.eventos{
    width:90%;
    max-width:1100px;
    margin:auto;
    padding:40px 0;
}

.eventos h2{
    text-align:center;
    margin-bottom:40px;
    font-size:36px;
}

.evento{
    background:white;
    border-radius:15px;
    padding:25px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.evento:hover{
    transform:translateY(-5px);
}

.evento h3{
    margin-bottom:10px;
}